<title>{{ content.title }}</title>

{% if config.Search.enable %}
<form id="searchbar-outer">
	<button id="search-toggle"><span data-feather="search"></span>  Search</button>
</form>
{% endif %}

<br/><br/>


<h3>Guides</h3>

<div class="tile is-6 is-vertical is-parent">
    {% for book in context.books %}
    <div class="tile is-child article-box">
        <p class="subtitle is-7 article-tile-meta-box">
            {{ book.info.created }}
            {% for tag in book.info.tags %}
            <span><a href="{{ url_tag(id=tag) }}">#{{tag}}</a></span>
            {% endfor %}
        </p>
        <h4 class="title is-4"><a href="{{ url_book(id=book.identifier) }}">{{ book.info.title }}</a></h4>
        <h4 class="title is-4"><a href="{{ url_chapter(id=book.chapters[0].document.identifier) }}">{{ book.info.title }}</a></h4>
        <p class="subtitle is-6">
            {{ book.info.description }}
        </p>
    </div>
    {% endfor %}
</div>

<br/><br/>

{% if config.Search.enable %}
<div id="search-wrapper" class="hidden">
	<input id="searchbar" name="searchbar" type="search" placeholder="Search" aria-label="Search">
	<div id="searchresults-outer">
		<div id="searchresults-header"></div>
		<ul id="searchresults">
		</ul>
	</div>
</div>
{% endif %}

<ul>
{% for article in content.posts -%}
  <li><a href="{{ article.slug }}">{{ article.info.title }}</a>
	  {% if article.next_document %}
	  <b>next: {{ article.next_document.title }}</b> * 
	  {% endif %}
	  {% if article.previous_document %}
	  <b>previous: {{ article.previous_document.title }}</b>
	  {% endif %}
  </li>
{%- endfor %}
</ul>



<h1>lala</h1>
<ul>
{% for article in content.posts | chunks(size=2) -%}
  <li><a href="{{ article[0].slug }}">{{ article[0].info.title }}</a> *** <a href="{{ article[1].slug }}">{{ article[1].info.title }}</a></li>
{%- endfor %}
</ul>

<div>
	<h3>current:{{ content.pagination.current }}</h3>
	{% if content.pagination.next %}
	<h3>next:{{ content.pagination.next.index }}, {{ content.pagination.next.title }}</h3>
	{% endif %}
	{% if content.pagination.previous %}
	<h3>previous:{{ content.pagination.previous.index }}, {{ content.pagination.previous.title }}</h3>
	{% endif %}
</div>



{% if config.Search.enable %}
<script src="/{{ config.Search.searchIndexFile }}" type="text/javascript" charset="utf-8"></script>
<script src="/js/elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/mark.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/searcher.js" type="text/javascript" charset="utf-8"></script>
{% endif %}

