<title>{{ content.title }}</title>
<ul>
{% for article in content.posts -%}
  <li><a href="{{ article.slug }}">{{ article.info.title }}</a></li>
{%- endfor %}
</ul>

<h1>lala</h1>
<ul>
{% for article in content.posts | chunks(size=2) -%}
  <li><a href="{{ article[0].slug }}">{{ article[0].info.title }}</a> *** <a href="{{ article[1].slug }}">{{ article[1].info.title }}</a></li>
{%- endfor %}
</ul>

<div>
	<h3>current:{{ content.pagination.current }}</h3>
	{% if content.pagination.next %}
	<h3>next:{{ content.pagination.next.index }}, {{ content.pagination.next.title }}</h3>
	{% endif %}
	{% if content.pagination.previous %}
	<h3>previous:{{ content.pagination.previous.index }}, {{ content.pagination.previous.title }}</h3>
	{% endif %}
</div>
