yeah

{% if config.Search.enabled %}
<form id="searchbar-outer">
	<button id="search-toggle"><span data-feather="search"></span>  Search</button>
</form>
{% endif %}

<br/><br/>

{% if config.Search.enabled %}
<div id="search-wrapper" class="hidden">
	<input id="searchbar" name="searchbar" type="search" placeholder="Search" aria-label="Search">
	<div id="searchresults-outer">
		<div id="searchresults-header"></div>
		<ul id="searchresults">
		</ul>
	</div>
</div>
{% endif %}

{{ content.filename }}
<hr/>
{{ content.content }}
<br/>
{{ content.info.title }}
<ul>
</ul>


<div id="sections">
	{% for section in content.sections %}
	<h3><a href="#header-section-{{ section[0] }}">{{ section[1] }}</a></h3>
	{% endfor %}
</div>

<div id="similar">
	{% for sim in content.similar_documents %}
	  <h4>Simi: {{ sim.title }}: {{ sim.slug }} ## {{ sim.score }}</h4>
	{% endfor %}
</div>

<script src="/{{ config.Search.searchIndexFile }}" type="text/javascript" charset="utf-8"></script>
<script src="/js/elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/mark.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/searcher.js" type="text/javascript" charset="utf-8"></script>
